server {
  listen       $PORT;
  listen  [::]:$PORT;
  server_name  https://eventsdirfrontend.herokuapp.com;
  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }
  
  location /api {
    proxy_set_header Accept-Encoding "";
    proxy_pass https://eventdirbackend.herokuapp.com/api;
  }
}